* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: #6cd2e7;
}

svg {
  width: 100%;
  height: 100vh;
}

path{
  fill: #fbf8f3;
}

path:hover {
  fill: #90e0be;
}

.singalPinIcon {
  position: absolute;
  font-size: 35px;
  color: #cf2528;
  transition: all 0.2s;
}

.pniLocationBD{
  fill: green;
}

.pniLocationIN{
  fill: orange;
}

.pniLocationAT{
  fill: #e628384d;
}

.pniLocationNOR{
  fill: #002765;
}

.singalPinIcon:hover {
  transform: translateY(-3px);
}

.singalPinIcon.BD {
  /* top: 200px; */
  /* left: 800px; */
  cursor: pointer;
}
